@import url(https://fonts.googleapis.com/css?family=Happy+Monkey);

body{
  background-color:#8533ff;
}

#headerbox h1{
  font-family: 'Happy Monkey', cursive;
  color: #9fff80;
  font-size: 200%;
}
/* 



.marquee {
  width: 100%
  overflow: hidden;
  border: 1px solid #ccc;
  background: #ccc;
}
 */

#headerbox{
  padding: 5px 0px 15px 0px;
  text-align: center;
  background-color:#000066;
  margin-bottom:15px;
  font-size: 30px;
}

#footer img{
	width:auto;
	height:300px;
	display: inline-block;
	
	}
	
#list a{
	color: #262626;
	font-size:25px;
	margin-top: -5px;
	margin-bottom: -5px;
	text-align: left;
	display: block;
	}
	
#profilePhotoBox{
	float:left;
}

#profilePhotoBox img{
	width:400px;
	margin-right: 20px;
	}
	
	
#footer{
	margin-top: 20px;
	text-align: center;
	}
	

#mainParagraph{
	font-size: 17px;
	color: #000000;
	}


/* 
#percyJacksonPlanet a img{
	margin-bottom:-400px;
}
 */

/* 
#trailsOfApolloPlanet a img{
	margin-bottom:-400px;
}
 */

#magnusChasePlanet img{
	margin-left:75px;
	margin-top:-5px;
}

#kaneChroniclesPlanet a img{
	margin-right:60px;
	margin-top:-5px;
}

#rickRiordanSun img{
	display:block;
	margin:auto;
	}



#heroesOfOlympusPlanet a img{
	display:block;
	margin:auto;
	}

.stars a img{
	width:90%;
	height:auto; 
}	

#starWars{
	margin-top:70px;
}

nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
	}
	
nav ul li{
	display:inline-block;
	position:relative;
	}
	
nav li ul{
	position:absolute;
	}
	
ul.sub-menu{
	display:none;
	background-color:#ffffff;
	position:relative; 
	z-index:1;
	}

.sub-menu li a{
	color:#000000;
	z-index:2;
	position: relative;
	padding: 0px 100px 100px 0px;
	font-size:100%;
	}
	
.footerImgs{
	
	}